@page
@model FintechWebApp.Pages.FintechApp.AnalyseModel
@{
}
@*create a line break and a header for the page.*@

<html>
<head>
    <title>My Page</title>
</head>
<body style="background-color:white; color:black">
   @* <br>
    <h2> Analysing the Bills</h2>
    <p>Analysis Results:</p>
    <div style="border: 1px solid black; padding: 10px;">
        <h3>Mean:</h3>
        <p id="mean-value"></p>
        <button onclick="calculateMean()">Calculate Mean</button>
    </div>
    <script>
        function calculateMean() {
            $.ajax({
                url: "/Fintech/Mean",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var meanValue = data["Mean"];
                    document.querySelector("#mean-value").innerHTML = meanValue;
                },
                error: function () {
                    alert("Error getting data.");
                }
            });
        }
    </script>*@
</body>
</html>






            @*<tr>
                <td>Median:</td>
                <td>@Model.dictionary?["Median"]</td>
                <td><button type="submit" formaction="/Fintech/Median" formmethod="POST">Recalculate</button></td>
            </tr>
            <tr>
                <td>Most Amount was Spent on:</td>
                <td>@Model.dictionary?["Most Amount was Spent on"]</td>
                <td><button type="submit" formaction="/Fintech/MostAmountSpentOn" formmethod="POST">Recalculate</button></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td>@Model.dictionary?["Amount "]</td>
                <td><button type="submit" formaction="/Fintech/Amount" formmethod="POST">Recalculate</button></td>
            </tr>
            <tr>
                <td>Min Amount was Spent on:</td>
                <td>@Model.dictionary?["Least Amount was Spent on"]</td>
                <td><button type="submit" formaction="/Fintech/MinAmountSpentOn" formmethod="POST">Recalculate</button></td>
            </tr>
            <tr>
                <td>Amount Spent:</td>
                <td>@Model.dictionary?["Amount Spent "]</td>
               <td><button type="submit" formaction="/Fintech/AmountSpent" formmethod="POST">Recalculate</button></td>
            </tr>
        </table>
    </form>
</body>
</html>*@

 